.signUp-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-family: 'Poppins';
    font-style: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    font-size: 25px;   
}

.signUp-form{
    box-sizing: border-box;
 
    position: absolute;
    width: 505px;
    height: 601px;
    left: 111px;
    top: 14px;
    
    background: #FFFFFF;
    border: 0.5px solid #878787;
    box-shadow: 0px 4px 64px rgba(0, 0, 0, 0.05);
    border-radius: 10px;   
}

.signUp-welcome{
    font-weight: 400;

}

.signUp-to{
    font-weight: 700;

}

.signUp-para{
    margin-top: -10px;
}
.signUp-image{
    margin-top: 110px;
    margin-left: 100px;
    height: 200px;
    width: 200px;

}

.signUp-form-header{
    margin-left: 35px;
    font-size: small;
}

#signUp-content{
    margin-left: 35px;
}

.signup-input{
    box-sizing: border-box;

    position: relative;
    width: 423px;
    height: 40px;
    margin-bottom: 10px;
    background: #FFFFFF;
    border: 0.6px solid #282828;
    border-radius: 6px;
}
.signup-label{
    font-size: small;
    font-weight: 500;
}

.signUp-para{
    font-size: small;
    font-weight: 600;
}

#checkbox{
    height: auto;
    width: auto;
}

.remember{
    display: flex;
    justify-content: space-between;
    margin-right: 45px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
  
    /* identical to box height */
    
    
    color: #000000;

}

.signup-footer{
    display: flex;
    justify-content: center;
   
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
}

.signUp-pic{
    height: 400px;
    width: 500px;


}

#register{
    background: #000000;
    color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 20px;
}